extends layout

block content
  div#aboutMeWrapper(class="mx-auto max-w-xl")
    h1(class="my-4 text-center text-2xl")= title
    div#aboutMeContainer(class='')
        p(class='text-slate-700') Thanks so much for visiting my blog! This is my very first TypeScript project.
        br
        p I built the front-end with Pug and the back-end with Express and MongoDB. This application uses PassportJS & JSON Web Tokens (JWT) for authentication with validations on both the client-side and server-side.
        br
        p So, a little about me... I was born in Korea, and I moved to the United States when I was seven years old. I grew up in Southern California and attended Southern Methodist University in Dallas, Texas. I received my Bachelor of Business Admnistration in Marketing, with a minor in economics, and also received my Master of Science in Business Analytics.
        br
        p After graduating from my Master's program, I worked at Accenture, where I had an amazing time with some really smart people. I worked on 10 projects for some of the largest companies in the world. My projects primarily revolved around data management, data analytics, and robotic process automation (RPA). After five years, I knew my time for me to move on was overdue. So, I quit my job, moved back to California, and started learning how to code.
        br
        p Between 2022 and 2023, I visited 7 countries in Southeast Asia, which were Cambodia, Thailand, Malaysia, Laos, Vietnam, Philippines, and South Korea. I am Korean, but maybe to your surprise, I had the best time in Thailand.