extends layout 

block content 
  h1(class="mt-8 text-center text-2xl font-bold")= title
  br
  p(class="italic text-center my-32") "The best things in life are unexpected, because there were no expectations." -Eli Khamarov
  br
  p(class="mx-auto w-fit font-bold") Send me an email or a message on LinkedIn!
  br
  div(class="mx-auto w-fit")#contactContainer 
    //-TODO Update LinkedIn url with actual
    a(href="" class="text-blue-500 underline") LinkedIn
    span  | 
    a(href="" class="mt-2 text-blue-500 underline") noahhkim@yahoo.com