extends layout 

block content 
  h1(class="py-4 text-2xl text-center text-gray-800")= title
  div(class="mx-auto w-fit mt-4 p-4 bg-gray-400 rounded-md text-gray-800")#formContainer
    form(method="POST" action="" class="flex flex-col text-center")
      div(class="text-start pt-4")#titleContainer
        label(for="title" class="block font-bold") Title:
        input#title(type="text" name="title" placeholder="Title" required="true" class="mt-2")
      div(class="text-start pt-4")#contentContainer
        label(for="content" class="block font-bold") Content:
        textarea#content(name="content", cols="50", rows="6" required="true" class="mt-2")
      button(class="submit" class="mx-auto w-28 py-4 mt-4 rounded-md bg-cyan-800 text-white") Create Post